/* 
-------------------
Core
-------------------
*/

@import './_partials/variables.css';
@import './_partials/common.css';

/* 
-------------------
Components
-------------------
*/
@import './components/';

/* 
-------------------
HEADER
-------------------
*/

header {
  height: 4.375rem;
}

header .jq-logo-small {
  height: 3.125rem;
  width: 3.125rem;
}

/* 
-------------------
MAIN
-------------------
*/
main {
  height: calc(100vh - 70px);
  background-color: purple;
}

.search span,
.search input {
  background-color: var(--bg-search);
  border: var(--bg-search);
}

/* 
-------------------
SIDEBAR
-------------------
*/

.jq-sidebar {
  background-image: url(/img/sidebar-bg.png);
  background-color: #051e34;
}

.jq-sidebar a {
  text-decoration: none;
}

/* 
-------------------
CONTENT
-------------------
*/

/* 
-------------------
MEDIA QUERY
-------------------
*/

@media screen and (min-width: 992px) {
  .jq-sidebar {
    width: 150px;
  }
}
