/* 
-------------------
Core
-------------------
*/

@import './_partials/variables.css';
@import './_partials/common.css';

/* 
-------------------
Components
-------------------
*/
@import './components/';

/* 
-------------------
HEADER
-------------------
*/

header {
  height: 4.375rem;
}

header .jq-logo-small {
  height: 3.125rem;
  width: 3.125rem;
}

/* 
-------------------
MAIN
-------------------
*/
main {
  height: calc(100vh - 70px);
}

.search span,
.search input {
  background-color: var(--bg-search);
  border: var(--bg-search);
}

/* 
-------------------
SIDEBAR
-------------------
*/

.jq-sidebar {
  background-image: url(/img/sidebar-bg.png);
  background-color: #051e34;
}

.jq-sidebar a {
  text-decoration: none;
}

/* 
-------------------
CONTENT
-------------------
*/

/* Jumbo */
.jumbo {
  background-color: #1b72e8;
}

/* content */
.jq-sez-classi img {
  height: 30px;
  width: 30px;
}

.card,
.accordion span {
  font-size: 12px;
}

.offcanvas label {
  font-weight: 600;
}

/* 
-------------------
MEDIA QUERY
-------------------
*/

@media screen and (max-width: 768px) {
  .offcanvas {
    --bs-offcanvas-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .offcanvas {
    --bs-offcanvas-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .jq-sidebar {
    width: 150px;
  }
}
